<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        </head>
    <body>
        <section class="login">
            <h1>Log in to your account</h1>
            <form name="login" id="login" method="POST" action="/login" role="form">
            
            <div class="formgroup">
            <label>User Name</label>
            <div class="fa fa-user fa-lg"></div>
            <input type="text" name="username" id="username" autofocus placeholder="Username"></input>
            </div>
            
            <div class="formgroup">
            <label>Password</label>
            <div class="fa fa-lock fa-lg"></div>
            <input type="password" name="password" id="password" autofocus placeholder="Password"></input>
            </div>
            
            <button type="submit" value="Login" class="btn">Log in</button>
                
            </form>
            <div class="signuplink">
                <a href="/signup">New User? <span> Sign up</span></a> 
            </div>
        </section>
    </body>
</html>