<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link href="style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        </head>
    <body>
        <section class="login signup">
            <h1>Sign up your details</h1>
            <form name="signup" id="signup" method="POST" action="/register" role="form">
            
            <div class="formgroup">
            <label>First Name</label>
            <input type="text" name="firstname" id="firstname" autofocus placeholder="Firstname"></input>
            </div>
            
            <div class="formgroup">
            <label>Last Name</label>
            <input type="text" name="lastname" id="lastname" autofocus placeholder="Lastname"></input>
            </div>
            
            <div class="formgroup">
            <label>Email</label>
            <input type="email" name="email" id="email" autofocus placeholder="Email"></input>
            </div>
            
             <div class="formgroup">
            <label>User name</label>
            <input type="text" name="username" id="username" autofocus placeholder="Username"></input>
            </div>
            
            <div class="formgroup">
            <label>Password</label>
            <input type="password" name="password" id="password" autofocus placeholder="Password"></input>
            </div>
            
            <div class="formgroup">
            <label>Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" autofocus placeholder="Confirm password"></input>
            </div>
            
            <button type="submit" value="Signup" class="btn">Sign up</button>
                
            </form>
            
        </section>
    </body>
</html>